<div class="main">
    <h1>TicketEase</h1>
    <p>TicketEase is a user-friendly customer ticket support system that streamlines issue resolution. It enables
        businesses to efficiently track, assign, and collaborate on support tickets for timely customer support. With
        features like ticket categorization and status tracking, TicketEase optimizes workflow and enhances
        communication. It empowers support teams to deliver personalized assistance, resulting in improved customer
        satisfaction. TicketEase is the solution to simplify customer support and provide exceptional experiences. </p>

    <div class="buttons">
        <button class="btn" routerLink="/login">Login</button>
        <button class="btn">Signup</button>

    </div>

</div>